.pie {
  /* Basic layout */
  display: inline-block;
  width: 3.75em;
  height: 3.75em;
  border-radius: 50%;

  /* A little styling */
  border: .15em solid #fff;
  box-shadow: 0 .075em .2em .05em rgba(0,0,0,.25);

  /* fixes a minor clipping issue in Chrome */
  background-origin: border-box; 

  background-image: conic-gradient(
    red 90deg,      /* 20%               20  * 3.6 =  72 degrees */
    yellow 0 180deg,   /* 45%         (45 + 20) * 3.6 = 234 degrees */
    blue 0 270deg,
    green 0          /* 35%       last stop is always 360 degrees */
  );
}